@use '../global/mixins' as *;

.info-view {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: calc(var(--base-unit) * 2);
  padding: calc(var(--base-unit) * 2);
  font-family: var(--fnt-family);
  color: var(--txt-color-3);

  // Fila principal: imagen + detalles
  .info-content {
    @include flex(row, center, flex-start);
    flex-wrap: wrap;
    gap: calc(var(--base-unit) * 2);
  }

  .info-image {
    flex: 1 1 300px;
    max-width: 400px;

    img {
      width: 100%;
      height: auto;
      border-radius: var(--cr-radius-1);
      box-shadow: var(--shadow-2);
    }
  }

  .info-details {
    flex: 1 1 300px;
    display: flex;
    flex-direction: column;
    gap: var(--base-unit);

    h2 {
      font-size: var(--tfs-size-3);
      font-weight: var(--fnt-weight-5);
      margin-bottom: calc(var(--base-unit) * 1.5);
    }

    p {
      font-size: var(--tfs-size-1);
      color: var(--txt-color-3);
      line-height: var(--line-height-default);
      letter-spacing: var(--letter-spacing-default);
    }
  }

  // Contenedor de botones dinámicos
  .info-actions {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--base-unit);
    padding-top: var(--base-unit);
    border-top: 1px solid var(--rtc-color-6);
  }
}
