.empty-message {
  text-align: center;
  padding: 3rem 1rem;
  font-size: 1.1rem;
  color: #777;

  p {
    margin-top: 0.5rem;
    font-size: 1rem;
  }

  .empty-icon {
    font-size: 3rem;
    line-height: 1;
    margin-bottom: 1rem;
  }
}
